body {
    background: #6db3f1a8;
    text-align: center;
}

label {
    font-size: 1.2em;
}

select {
    padding: 5px 10px ;
    border-radius: 7px;
    cursor: pointer;
}

* {
    font-weight: bold;
}